.dark hr {
    border-color: white !important;
}

.header-desktop,
.feed-desktop {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 1rem;
}

@media (max-width: 1410px) {
    .header-desktop,
    .feed-desktop {
        max-width: 500px;
        margin: 0 auto;
    }
}

@media (max-width: 1280px) {
    .header-desktop,
    .feed-desktop {
        max-width: 600px;
        margin: 0 auto;
    }
    .header-desktop .max-w-xl {
        max-width: 600px;
    }
}

@media (max-width: 1024px) {
    .header-desktop,
    .feed-desktop {
        max-width: 500px;
        margin: 0 auto;
    }
    .header-desktop .max-w-xl {
        max-width: 500px;
    }
    
    .header-desktop textarea {
        font-size: 1rem;
    }
}

@media (max-width: 900px) {
    .header-desktop,
    .feed-desktop {
        max-width: calc(100% - 120px);
        width: 380px;

        margin: 0 auto;
    }

    .header-desktop textarea {
        font-size: 0.875rem;
    }

    .header-desktop .btn {
        padding: 0.5rem 1rem;
        font-size: 0.875rem;
    }

    .text-small {
        font-size: 1rem !important;
    }
}


@media (max-width: 768px) {
    .header-desktop,
    .feed-desktop {
        max-width: 100%;
        padding: 0 1rem;
    }
    .header-desktop .max-w-xl {
        max-width: 100%;
        padding: 0 0.5rem;
    }
}
